body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

/*game heading*/
header {
    background-color: rgba(64, 146, 99, 0.824);
    padding: 2px;


}

h1 {
    font-size: xxlarge;
    font-weight: bolder;
    text-align: center;
}

/* game area */

#game-area {


    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
    padding-top: 10px;
    text-align: center;

}

/*score display*/

#score-display {
    height: 200px;
    width: 100%;
    font-size: x-large;


}

/* score div*/
.p-score {
    float: left;
    font-size: larger;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 10%;
    background-image: url(../images/rpc.image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 170px;
    width: 15%;

}

/*player score side*/
#player-score {
    font-size: xx-large;
    font-weight: 600;
    margin-right: 10px;

}

/*winner announcement*/
h3 {

    text-align: center;
}

/* player score result*/

/*computer score side*/
.pc-score {
    float: right;
    font-size: larger;
    font-weight: 400;
    margin-right: 10%;
    padding-right: 0;
    height: 170px;
    width: 15%;
    background-image: url(../images/rpc.image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

/* computer score result*/

#computer-score {
    font-size: xx-large;
    font-weight: 600;
    margin-left: 10px;

}

/* moves div*/

#choice {
    height: 120px;
    width: 100%;
    border: 2px solid;
    margin-top: 5%;
    padding: 15px;
    background-color: rgba(56, 147, 95, 0.824);
    font-size: larger;
    text-align: center;

}

/* choice buttons */

#btn-1 {
    font-size: x-large;
    float: left;
    margin-top: 20px;
    margin-left: 8%;
    padding: 4px;
}

#btn-2 {
    font-size: x-large;
    float: left;
    margin-top: 20px;
    margin-left: 8%;
    padding: 4px;
}

#btn-3 {
    font-size: x-large;
    float: left;
    margin-top: 20px;
    margin-left: 8%;
    padding: 4px;
}

#btn-4 {
    font-size: x-large;
    float: left;
    margin-top: 20px;
    margin-left: 8%;
    padding: 4px;
}

#btn-5 {
    font-size: x-large;
    float: left;
    margin-top: 20px;
    margin-left: 8%;
    padding: 4px;
}

/*buttons hover*/

#btn-1:hover {
    background-color: palevioletred;

}

#btn-2:hover {
    background-color: palevioletred;
}

#btn-3:hover {
    background-color: palevioletred;
}

#btn-4:hover {
    background-color: palevioletred;
}

#btn-5:hover {
    background-color: palevioletred;
}

#choice h4 {
    text-align: center;
    margin-top: 8%;
}

/*footer*/

footer {
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 4px;
    padding-top: 0.05px;
    padding-bottom: 2px;
}

/*responsiveness for screen size 1200px and down*/

@media (max-width: 1200px) {

    /*buttons*/
    #btn-1, #btn-2, #btn-3, #btn-4, #btn-5 {
        font-size: large;
        
    }
    /*choive div*/
   #choice h4 {
    margin-top: 10%;
   } 
   /*footer*/

   footer {
    font-size: large;
   }
}

/*responsiveness for screen size 900px and down*/

@media (max-width: 900px) {

    /*buttons*/
    #btn-1, #btn-2, #btn-3, #btn-4, #btn-5{
        font-size: medium;
        margin-left: 6%;
    }
    
    /*choice div*/
    #choice h4 {
        margin-top: 12%;
    }
}    

/*responsiveness for screen size 1200px and down*/
/*responsiveness for screen size 1200px and down*/