element.style {
    max-width: 1200px;
    margin: auto;
}


html, body {
    
    height: 100%;
    position: relative;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

/*game heading*/
header {
    background-color: rgba(64, 146, 99, 0.824);
    padding: 2px;
    margin-top: 5px;
    margin-left: 11%;
    width: 80%;



}

h1 {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

/* game area */

#game-area {


    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
    padding-top: 10px;
    text-align: center;

}

/*score display*/

#score-display {
    height: 200px;
    width: 100%;
    font-size: x-large;


}

/* score div*/
.p-score {
    float: left;
    font-size: larger;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 10%;
    background-image: url(../images/rpc.image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 170px;
    width: 15%;

}

/*player score side*/
#player-score {
    font-size: xx-large;
    font-weight: 600;
    margin-right: 10px;

}

/*winner announcement*/
h3 {

    text-align: center;
}

/* player score result*/

/*computer score side*/
.pc-score {
    float: right;
    font-size: larger;
    font-weight: 400;
    margin-right: 10%;
    padding-right: 0;
    height: 170px;
    width: 15%;
    background-image: url(../images/rpc.image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

/* computer score result*/

#computer-score {
    font-size: xx-large;
    font-weight: 600;
    margin-left: 10px;

}

/* moves div*/

#choice {
    height: 120px;
    width: 100%;
    border: 2px solid;
    margin-top: 5%;
    padding: 15px;
    background-color: rgba(56, 147, 95, 0.824);
    font-size: large;
    text-align: center;


}

/* choice buttons */

#btn-1 {
    font-size: x-large;
    float: left;
    margin-top: 20px;
    margin-left: 8%;
    padding: 4px;

}

#btn-2 {
    font-size: x-large;
    float: left;
    margin-top: 20px;
    margin-left: 8%;
    padding: 4px;
}

#btn-3 {
    font-size: x-large;
    float: left;
    margin-top: 20px;
    margin-left: 8%;
    padding: 4px;
}

#btn-4 {
    font-size: x-large;
    float: left;
    margin-top: 20px;
    margin-left: 8%;
    padding: 4px;
}

#btn-5 {
    font-size: x-large;
    float: left;
    margin-top: 20px;
    margin-left: 8%;
    padding: 4px;
}

/*buttons hover*/

#btn-1:hover {
    background-color: palevioletred;

}

#btn-2:hover {
    background-color: palevioletred;
}

#btn-3:hover {
    background-color: palevioletred;
}

#btn-4:hover {
    background-color: palevioletred;
}

#btn-5:hover {
    background-color: palevioletred;
}

#choice h4 {
    text-align: center;
    margin-top: 8%;
}

/*footer*/

footer {
    position: fixed;
    text-align: center;
    font-size: medium;
    color: white;
    background-color: black;
    bottom: 0;
    margin-left: 0;
    padding-bottom: 15px;
    width: 100%;
}

/*responsiveness for screen size 1200px and down*/

@media (max-width: 1200px) {

    /*buttons*/
    #btn-1,
    #btn-2,
    #btn-3,
    #btn-4,
    #btn-5 {
        font-size: large;

    }

    /*choive div*/
    #choice h4 {
        margin-top: 5%;
    }

    
}

/*responsiveness for screen size 900px and down*/

@media (max-width: 900px) {

    /*buttons*/
    #btn-1,
    #btn-2,
    #btn-3,
    #btn-4,
    #btn-5 {
        font-size: medium;
        margin-left: 6%;
    }

    /*choice div*/
    #choice h4 {
        margin-top: 12%;
    }
}

/*responsiveness for screen size 670px and down*/

@media (max-width: 670px) {

    #btn-1,
    #btn-2,
    #btn-3,
    #btn-4,
    #btn-5 {
        font-size: small;

    }

    #choice h4 {
        font-size: medium;
    }
}

/*responsiveness for screen size 590px and down*/

@media (max-width: 590px) {

    /*header*/
    h1 {
        font-size: large;
    }

    /*buttons*/
    #btn-1,
    #btn-2,
    #btn-3 {
        padding: 2px;
        font-size: medium;
        margin-top: 10px;
        float: left;
        margin: 5px;
    }

    #btn-4 {
        margin-left: 30%;
        font-size: medium;
    }

    #btn-5 {
        font-size: medium;
    }

    #choice {
        width: 90%;
    }

    #choice h4 {
        margin-top: 28%;
        text-align: center;
        font-size: small;
    }


}

/*responsiveness for screen size 500px and down*/
@media (max-width: 500px) {

    /*header*/
    h1 {
        font-size: medium;
    }

    /*display*/
    #score-display {
        font-size: small;
        text-align: center;
    }

    /*buttons*/
    #btn-1,
    #btn-2,
    #btn-3,
    #btn-4,
    #btn-5 {
        margin-top: 10px;
        margin: 2%;
    }

    /*choice instruction*/
    #choice h4 {
        margin-top: 20%;

    }
}
/*responsiveness for screen size 480px and down*/
@media (max-width: 480px) {
    #choice {
        width: 95%;
        
    }
    #choice h4{
        margin-top: 30%;
    }
    #btn-5 {
        margin-left: 40%;
    }
}
/*responsiveness for screen size 412px and down*/
@media (max-width: 412px) {
    #btn-1,
    #btn-2,
    #btn-3,
    #btn-4,
    #btn-5 {
        font-size: x-small;
        margin-top: 5%;
        margin-left: 13px;
        margin-right: 2px;
    }
}

/*responsiveness for screen size 390px and down*/
@media (max-width: 390px) {

    /* header*/
    h1 {
        font-size: medium;
    }

    /* choice div*/
    #choice {
        padding: 0;
        width: 100%;
    }

    #choice h4 {
        font-size: small;
        margin-top: 20%;
    }

    /*buttons*/
    #btn-1,
    #btn-2,
    #btn-3,
    #btn-4,
    #btn-5 {
        font-size: x-small;
        margin-top: 5%;
        margin-left: 3%;
    }

    /*footer*/
    footer {
        font-size: medium;
    }
}

/*responsiveness for screen size 320px and down*/
@media (max-width: 320px) {

    #choice{
        width: 100%;
    }
    #btn-1,
    #btn-2,
    #btn-3,
    #btn-4,
    #btn-5 {
        margin-left: 25px;
        font-size: x-small;
    }

    #choice h4 {
        font-size: x-small;
        margin-top: 35%;
    }
}

/*responsiveness for screen size 300px and down*/
@media (max-width: 300px) {

    /*heading*/
    h1 {
        font-size: small;

    }

    /* score display div*/
    #score-display {
        font-size: small;

    }

    /*choice div*/
    #choice {

        width: 85%;
        margin-right: 20%;
    }

    #choice h4 {
        font-size: x-small;
        margin-top: 50%;
        padding-bottom: 10%;

    }

    /*buttons*/
    #btn-1,
    #btn-2,
    #btn-3 {

        font-size: x-small;
        font-weight: bold;
        margin-left: 8px;
        display: flex;
    }

    #btn-4,
    #btn-5 {
        font-size: x-small;
        font-weight: bold;
        margin-top: 2%;
        margin-left: 10%;
        display: flex;
    }

    /*footer*/
    footer {
        font-size: small;
        text-align: center;
    }
}