body {
   font-family: Arial, Helvetica, sans-serif;
   margin : 0;
  
}
header {
    background-color:rgba(64, 146, 99, 0.824);
    padding: 5px;
    
}

h1,h3 {
    font-size: xxlarge;
    font-weight: bolder;
}
#game-area {
   /* background-color: cadetblue;*/
    
    height: 100%;
    width : 75%;
    margin-left: 10%;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    
}
#result {
   height: 200px;
   width: 75%;
   text-align: center;
}
h3 {
    
    margin-left: 30%;
}
.user-score {
    float: left;
    margin-top: 15px;
    margin-left: 30%;
    background-image: url(../images/rpc.image.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 150px;
    
    
}
h2 {
    
    text-align: center;
}
.pc-score {
    float: right;
    
    margin-top: 15px;
    height: 200px;
    width: 150px;
    
    background-image: url(../images/rpc.image.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}
#moves {
    height: 120px;
    width: 100%;
    border: 2px solid;
    margin-top: 5%;
    padding: 15px;
    background-color: rgba(56, 147, 95, 0.824);
    
}
.choice {
    font-size: x-large;
    float: left;
    display: flex;
    margin-left: 7%;
    margin-top: 20px;
    

}
#moves h4 {
    text-align: center;
    margin-top: 8%;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 4px;
    
  
}
footer h4 {
    padding-top: 4px;

}
